/**
 * @name         Forest
 * @description  Forest theme
 * @author       Sen
 * @version      1.0
 * @website      onee.ch
 */

/* IMPORT CSS FROM GITHUB */
@import "https://monstrousdev.github.io/themes/phoenix-bundle/reborn.css";
/*
===== IMPORTANT =====
CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!

Registered: Black Box Theme

===== CUSTOMIZABLE COLORS AND IMAGES =====
*/
:root { 
	--main-color: #444444;
  --hover-color: #6d6d6d; 
  --opacity: 1;
  --background-image: url(https://i.imgur.com/l4VsyYJ.jpg);
  --popup-background: url(https://i.imgur.com/l4VsyYJ.jpg);
 }


/* Other Shit */


 .theme-dark .container-3baos1, .theme-light .container-3baos1 {
  background: rgba(32, 34, 37, 0);
}

